/*-- scss:defaults --*/

// import google fonts

@import url('https://fonts.googleapis.com/css?family=Gochi+Hand|Handlee&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Commissioner");


$primary: #2c365e;
$secondary: #e98a15;
$tertiary: #0a8754;
$fourth-color: #a8201a;
$font-family-sans-serif:  "Commissioner", "Source Sans Pro", Helvetica, sans-serif, !default;
// $presentation-font-size-root: 40px;
$code-block-font-size: 0.75em;
$body-bg: #fefefe;
$presentation-heading-color: $primary;
$link-color: $secondary;

.primary {color: $primary;}
.secondary {color: $secondary;}
.tertiary {color: $tertiary;}
.fourth-colour {color: $fourth-color;}

.center {text-align: center;}


/*-- scss:rules --*/

.reveal .callout.callout-style-simple .callout-body,
.reveal .callout.callout-style-default .callout-body,
.reveal .callout.callout-style-simple div.callout-title,
.reveal .callout.callout-style-default div.callout-title {
  font-size: 1.2em;
}

.reveal .callout.callout-style-default .callout-icon::before,
.reveal .callout.callout-style-simple .callout-icon::before {
  height: 2.5rem;
  width: 2.5rem;
  background-size: 2.5rem 2.5rem;
}

.reveal .callout.callout-titled .callout-icon::before {
  margin-top: 1.75rem;
}


ol {
  padding-left: 0.5em;
}


ul {
 	list-style: none; /* Remove default bullets */
}


ul li::marker {
	color: $primary;
}

dt {
  color: $secondary;
}


#title-slide {
  text-align: left;
}

#title-slide .title {
  color: $primary;
}

#title-slide .author {
  text-align: left;
  color: $secondary;
  font-weight: bold;
}

#title-slide .institute {
  padding-bottom: 200px;
}

.small {
  font-size: 0.75em;
}

.smallest {
  font-size: 0.5em;
}

.large {
  font-size: 1.5em;
}

.medium {
  font-size: 0.9em;
}


.center-align {
  text-align: center;
}

/* Handwriting */
.hand{
  font-family: 'Gochi Hand', cursive;
  font-size: 125%;
}
.hand-blue{
  font-family: 'Gochi Hand', cursive;
  color: var(--primary);
  font-size: 125%;
}
